@import '/src/assets/styles/colors.scss';

:host{
    display: block;
    height: 40px;
    width: 100%;
    background-color: $white-color;
}

.right-flex-area{
    display: flex;
    justify-content: flex-end;
}