
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$uu-primary: mat-palette($mat-blue, A200);
$uu-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$uu-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$uu-theme: mat-light-theme((
  color: (
    primary: $uu-primary,
    accent: $uu-accent,
    warn: $uu-warn,
  )
));

.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: red;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($uu-theme);

$custom-typography: mat-typography-config(
    $font-family: "'Nunito', sans-serif",
    $headline: mat-typography-level(48px, 48px, 500),
    $title: mat-typography-level(30px, 30px, 400),
    $body-1: mat-typography-level(16px, 16px, 400),
);

@include mat-core($custom-typography);

@import '~bootstrap/dist/css/bootstrap.css';
@import '~normalize.css';
@import 'assets/fonts/nunito.css';
@import 'assets/styles/colors.scss';

mat-form-field{
    width: 100%;
}

.form-control{
    border-radius: 0.3125rem;
}

.dropdown-menu{
    border: none;
}

.white-tooltip .tooltip-inner {
    color: $grayish-blue-color;
    background-color: $white-color;
}

.white-tooltip.bs-tooltip-top .arrow::before {
    border-top-color: $white-color;
}

.btn{
    &.btn-primary{
        background-color: $sky-blue-color;
        color: $white-color;
        box-shadow: 0 4px 10px #00000040;
        border: none;

        &.flat{
            box-shadow: none;
        }

        &:hover{
            background-color: $cloudy-blue-color;
        }
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
