$white-color: #FDFDFE;
$extra-light-gray-color: #F3F3F3;
$light-gray-color: #E5E5E5;
$gray-color: #BEBEBE;
$dim-gray-color: #8a8a8a;
$grayish-blue-color: #424C5B;
$sky-blue-color: #7DCEEA;
$cloudy-blue-color: #68B8D3;